# Terraform dir
.terraform/*

# State files
*.tfstate
*.tfstate.*

# Variable files that may include sensitive data
terraform-dev.tfvars
terraform-staging.tfvars
terraform-prod.tfvars


# macOS system file
.DS_Store
